<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Boletin Oficial</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>Segunda Sección <span style="color: #bababa">(del Boletín Oficial)</span></h1>
        <p><strong>Segunda Sección</strong> extrae y reproduce
        información sobre sociedades comerciales y edictos judiciales
        a partir del Boletín Oficial de la República Argentina,
        integrando dicha información con otras bases de datos públicos</p>
        <div class="row">
          <div class="span12">
            <form action="/search" method="GET">
              <input class="xlarge" id="xlInput" name="q"
                     style="width: 400px"
                     size="40" type="text" placeholder="Buscar Nombres, Razones Sociales, CUITs o DNIs">
              <input type="submit" class="btn primary" value="Buscar">
            </form>
          </div> <!-- span12 -->
        </div> <!-- row -->
        <div class="row">
          <%= yield %>
        </div>
    </div> <!-- container -->
  </body>
</html>
